In [3]:
import pandas as pd
from datetime import datetime

In [5]:
try :
    data = pd.read_excel(r"C:\Users\94407\Data Professionals Survey Breakdown\UNCLEAN_DataProfessionalsSurvey.xlsx")
except:
    print("Error : PLease specify the path to the dataset")

#Cleaning the """'Q1 - Which Title Best Fits your Current Role?'""" column 
'Other (Please Specify):Business Analyst ',
 
 'Other (Please Specify):Analytics Manager',
 
 'Other (Please Specify)',
 
 'Other (Please Specify):Business Intelligence Analyst',
 
 'Other (Please Specify):Web Developer',
 
 'Other (Please Specify):Data Steward',
 
 'Other (Please Specify):Manager ',
 
 'Other (Please Specify):DBA',

In [6]:
df = data.copy()

df['Q1 - Which Title Best Fits your Current Role?'] = df['Q1 - Which Title Best Fits your Current Role?'].str.split(":").str[-1]

df['Q1 - Which Title Best Fits your Current Role?'].value_counts()

Q1 - Which Title Best Fits your Current Role?
Data Analyst             381
Student/Looking/None      90
Data Engineer             38
Data Scientist            25
Business Analyst           6
                        ...
Software Developer         1
Database Manager           1
Financial Analyst          1
Data Integrity             1
Data Scientist Intern      1
Name: count, Length: 83, dtype: int64

In [7]:
df['Q1 - Which Title Best Fits your Current Role?'] = df['Q1 - Which Title Best Fits your Current Role?'].str.capitalize()

In [8]:
def replace_low_frequency(df, column_name, threshold=1):
    value_counts = df[column_name].value_counts()
    items_to_replace = value_counts[value_counts < threshold].index.tolist()
    df[column_name] = df[column_name].apply(lambda x: 'Other' if x in items_to_replace else x)
    return df

In [9]:
replace_low_frequency(df,'Q1 - Which Title Best Fits your Current Role?')

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Browser,OS,City,Country,Referrer,Time Spent,...,Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,NaN,NaN,NaN,NaN,NaN,0:00:44,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,NaN,NaN,NaN,NaN,NaN,0:01:30,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,NaN,NaN,NaN,NaN,NaN,0:02:18,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,NaN,NaN,NaN,NaN,NaN,0:02:10,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,NaN,NaN,NaN,NaN,NaN,0:01:51,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,62b525563f28f20328aeee5c,anonymous,6/23/2022,22:45,NaN,NaN,NaN,NaN,NaN,0:00:50,...,6.0,5.0,7.0,Easy,Better Salary,Male,26,United States,Bachelors,White or Caucasian
626,62b5a3e29bc428d5345f6e89,anonymous,6/24/2022,7:45,NaN,NaN,NaN,NaN,NaN,0:03:12,...,7.0,4.0,6.0,Difficult,Better Salary,Male,21,United States,Bachelors,White or Caucasian
627,62b71083f31287f32e189026,anonymous,6/25/2022,9:41,NaN,NaN,NaN,NaN,NaN,0:04:43,...,2.0,1.0,2.0,Difficult,Better Salary,Male,26,Other (Please Specify):Oman,Bachelors,Asian or Asian American
628,62b795033b026e423f287ecd,anonymous,6/25/2022,19:06,NaN,NaN,NaN,NaN,NaN,0:02:17,...,6.0,4.0,3.0,Easy,Other (Please Specify):Career Advancedment,Male,24,Other (Please Specify):Costa Rica,Bachelors,Hispanic or Latino
629,62b89039377223ff07b80fb5,anonymous,6/26/2022,12:58,NaN,NaN,NaN,NaN,NaN,0:01:19,...,7.0,6.0,8.0,Easy,Remote Work,Male,22,United States,Bachelors,Asian or Asian American

In [10]:
df['Q1 - Which Title Best Fits your Current Role?'].value_counts()

Q1 - Which Title Best Fits your Current Role?
Data analyst             381
Student/looking/none      90
Data engineer             38
Data scientist            25
Business analyst           6
                        ...
Software developer         1
Database manager           1
Financial analyst          1
Data integrity             1
Data scientist intern      1
Name: count, Length: 81, dtype: int64

In [11]:
data.columns

Index(['Unique ID', 'Email', 'Date Taken (America/New_York)',
       'Time Taken (America/New_York)', 'Browser', 'OS', 'City', 'Country',
       'Referrer', 'Time Spent',
       'Q1 - Which Title Best Fits your Current Role?',
       'Q2 - Did you switch careers into Data?',
       'Q3 - Current Yearly Salary (in USD)',
       'Q4 - What Industry do you work in?',
       'Q5 - Favorite Programming Language',
       'Q6 - How Happy are you in your Current Position with the following? (Salary)',
       'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)',
       'Q6 - How Happy are you in your Current Position with the following? (Coworkers)',
       'Q6 - How Happy are you in your Current Position with the following? (Management)',
       'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)',
       'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)',
       'Q7 - How difficult was it for you to break into Data?',
       'Q8 - If you were to look for a new job today, what would be the most important thing to you?',
       'Q9 - Male/Female?', 'Q10 - Current Age',
       'Q11 - Which Country do you live in?',
       'Q12 - Highest Level of Education', 'Q13 - Ethnicity'],
      dtype='object')

In [12]:
df = data.copy()

df['Q4 - What Industry do you work in?'] = df['Q4 - What Industry do you work in?'].str.split(":").str[-1].str.capitalize()

df['Q4 - What Industry do you work in?'].value_counts()

Q4 - What Industry do you work in?
Tech                   150
Finance                 97
Healthcare              84
Education               38
Telecommunication       22
                      ...
 manufacturering         1
Customer service         1
Renewable resources      1
Poultry                  1
Transportation           1
Name: count, Length: 143, dtype: int64

In [13]:
replace_low_frequency(df,'Q4 - What Industry do you work in?')

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Browser,OS,City,Country,Referrer,Time Spent,...,Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,NaN,NaN,NaN,NaN,NaN,0:00:44,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,NaN,NaN,NaN,NaN,NaN,0:01:30,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,NaN,NaN,NaN,NaN,NaN,0:02:18,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,NaN,NaN,NaN,NaN,NaN,0:02:10,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,NaN,NaN,NaN,NaN,NaN,0:01:51,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,62b525563f28f20328aeee5c,anonymous,6/23/2022,22:45,NaN,NaN,NaN,NaN,NaN,0:00:50,...,6.0,5.0,7.0,Easy,Better Salary,Male,26,United States,Bachelors,White or Caucasian
626,62b5a3e29bc428d5345f6e89,anonymous,6/24/2022,7:45,NaN,NaN,NaN,NaN,NaN,0:03:12,...,7.0,4.0,6.0,Difficult,Better Salary,Male,21,United States,Bachelors,White or Caucasian
627,62b71083f31287f32e189026,anonymous,6/25/2022,9:41,NaN,NaN,NaN,NaN,NaN,0:04:43,...,2.0,1.0,2.0,Difficult,Better Salary,Male,26,Other (Please Specify):Oman,Bachelors,Asian or Asian American
628,62b795033b026e423f287ecd,anonymous,6/25/2022,19:06,NaN,NaN,NaN,NaN,NaN,0:02:17,...,6.0,4.0,3.0,Easy,Other (Please Specify):Career Advancedment,Male,24,Other (Please Specify):Costa Rica,Bachelors,Hispanic or Latino
629,62b89039377223ff07b80fb5,anonymous,6/26/2022,12:58,NaN,NaN,NaN,NaN,NaN,0:01:19,...,7.0,6.0,8.0,Easy,Remote Work,Male,22,United States,Bachelors,Asian or Asian American

In [14]:
df['Q4 - What Industry do you work in?'].value_counts()

Q4 - What Industry do you work in?
Tech                   150
Finance                 97
Healthcare              84
Education               38
Telecommunication       22
                      ...
 manufacturering         1
Customer service         1
Renewable resources      1
Poultry                  1
Transportation           1
Name: count, Length: 143, dtype: int64

In [15]:
# Cleaning technique to replace catogiries with low requency

def  replace_low_frequency_items(df,column , threshold = 1):
    item_count = df[column].value_counts()
    items_to_replace  = item_count[item_count<threshold].index.to_list()
    df[column]  = df[column].apply(lambda x:"Others" if x in items_to_replace else x)
    return df

In [16]:
df = data.copy()
df['Q4 - What Industry do you work in?'] = df['Q4 - What Industry do you work in?'].str.split(":").str[-1]
replace_low_frequency_items(df,'Q4 - What Industry do you work in?')

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Browser,OS,City,Country,Referrer,Time Spent,...,Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,NaN,NaN,NaN,NaN,NaN,0:00:44,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,NaN,NaN,NaN,NaN,NaN,0:01:30,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,NaN,NaN,NaN,NaN,NaN,0:02:18,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,NaN,NaN,NaN,NaN,NaN,0:02:10,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,NaN,NaN,NaN,NaN,NaN,0:01:51,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,62b525563f28f20328aeee5c,anonymous,6/23/2022,22:45,NaN,NaN,NaN,NaN,NaN,0:00:50,...,6.0,5.0,7.0,Easy,Better Salary,Male,26,United States,Bachelors,White or Caucasian
626,62b5a3e29bc428d5345f6e89,anonymous,6/24/2022,7:45,NaN,NaN,NaN,NaN,NaN,0:03:12,...,7.0,4.0,6.0,Difficult,Better Salary,Male,21,United States,Bachelors,White or Caucasian
627,62b71083f31287f32e189026,anonymous,6/25/2022,9:41,NaN,NaN,NaN,NaN,NaN,0:04:43,...,2.0,1.0,2.0,Difficult,Better Salary,Male,26,Other (Please Specify):Oman,Bachelors,Asian or Asian American
628,62b795033b026e423f287ecd,anonymous,6/25/2022,19:06,NaN,NaN,NaN,NaN,NaN,0:02:17,...,6.0,4.0,3.0,Easy,Other (Please Specify):Career Advancedment,Male,24,Other (Please Specify):Costa Rica,Bachelors,Hispanic or Latino
629,62b89039377223ff07b80fb5,anonymous,6/26/2022,12:58,NaN,NaN,NaN,NaN,NaN,0:01:19,...,7.0,6.0,8.0,Easy,Remote Work,Male,22,United States,Bachelors,Asian or Asian American

In [17]:
df['Q4 - What Industry do you work in?'].value_counts()

Q4 - What Industry do you work in?
Tech                      150
Finance                    97
Healthcare                 84
Education                  38
Telecommunication          22
                         ...
Chemical Manufacturing      1
hospitality                 1
Energy (oil and gas)        1
Entertainment               1
Transportation              1
Name: count, Length: 146, dtype: int64

In [18]:
df.columns

Index(['Unique ID', 'Email', 'Date Taken (America/New_York)',
       'Time Taken (America/New_York)', 'Browser', 'OS', 'City', 'Country',
       'Referrer', 'Time Spent',
       'Q1 - Which Title Best Fits your Current Role?',
       'Q2 - Did you switch careers into Data?',
       'Q3 - Current Yearly Salary (in USD)',
       'Q4 - What Industry do you work in?',
       'Q5 - Favorite Programming Language',
       'Q6 - How Happy are you in your Current Position with the following? (Salary)',
       'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)',
       'Q6 - How Happy are you in your Current Position with the following? (Coworkers)',
       'Q6 - How Happy are you in your Current Position with the following? (Management)',
       'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)',
       'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)',
       'Q7 - How difficult was it for you to break into Data?',
       'Q8 - If you were to look for a new job today, what would be the most important thing to you?',
       'Q9 - Male/Female?', 'Q10 - Current Age',
       'Q11 - Which Country do you live in?',
       'Q12 - Highest Level of Education', 'Q13 - Ethnicity'],
      dtype='object')

In [19]:
df.drop(columns=['Browser', 'OS', 'City', 'Country','Referrer'],inplace=True)

In [21]:
df['Q1 - Which Title Best Fits your Current Role?'] = df['Q1 - Which Title Best Fits your Current Role?'].str.split(":").str[-1].str.capitalize()

In [23]:
df['Q1 - Which Title Best Fits your Current Role?'].value_counts()
replace_low_frequency_items(df,'Q1 - Which Title Best Fits your Current Role?')

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Time Spent,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q3 - Current Yearly Salary (in USD),Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,...,Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,0:00:44,Data analyst,Yes,106k-125k,Healthcare,Python,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,0:01:30,Data analyst,No,41k-65k,Finance,R,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,0:02:18,Data engineer,No,0-40k,Clean Energy,Python,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,0:02:10,Analytics consultant,Yes,150k-225k,Finance,R,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,0:01:51,Data analyst,Yes,41k-65k,Healthcare,R,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,62b525563f28f20328aeee5c,anonymous,6/23/2022,22:45,0:00:50,Data analyst,Yes,125k-150k,Retail,R,...,6.0,5.0,7.0,Easy,Better Salary,Male,26,United States,Bachelors,White or Caucasian
626,62b5a3e29bc428d5345f6e89,anonymous,6/24/2022,7:45,0:03:12,Data scientist intern,No,0-40k,Manufacturing,R,...,7.0,4.0,6.0,Difficult,Better Salary,Male,21,United States,Bachelors,White or Caucasian
627,62b71083f31287f32e189026,anonymous,6/25/2022,9:41,0:04:43,Student/looking/none,Yes,0-40k,Tech,Python,...,2.0,1.0,2.0,Difficult,Better Salary,Male,26,Other (Please Specify):Oman,Bachelors,Asian or Asian American
628,62b795033b026e423f287ecd,anonymous,6/25/2022,19:06,0:02:17,Data engineer,No,0-40k,Tech,Python,...,6.0,4.0,3.0,Easy,Other (Please Specify):Career Advancedment,Male,24,Other (Please Specify):Costa Rica,Bachelors,Hispanic or Latino
629,62b89039377223ff07b80fb5,anonymous,6/26/2022,12:58,0:01:19,Data analyst,No,41k-65k,Automotive,Python,...,7.0,6.0,8.0,Easy,Remote Work,Male,22,United States,Bachelors,Asian or Asian American

In [24]:
df['Q1 - Which Title Best Fits your Current Role?'].value_counts()

Q1 - Which Title Best Fits your Current Role?
Data analyst             381
Student/looking/none      90
Data engineer             38
Data scientist            25
Business analyst           6
                        ...
Software developer         1
Database manager           1
Financial analyst          1
Data integrity             1
Data scientist intern      1
Name: count, Length: 81, dtype: int64

In [25]:
print(type(df['Date Taken (America/New_York)'][1]))

df['Date Taken (America/New_York)'] = df['Date Taken (America/New_York)'].apply(lambda x : datetime.strptime(x,"%m/%d/%Y").date())

print(type(df['Date Taken (America/New_York)'][1]))

<class 'str'>
<class 'datetime.date'>

In [26]:
# Next Lets Clean
# 'Q3 - Current Yearly Salary (in USD)'
df['Q3 - Current Yearly Salary (in USD)'].value_counts()

Q3 - Current Yearly Salary (in USD)
0-40k        275
41k-65k      149
66k-85k       93
86k-105k      52
106k-125k     29
125k-150k     17
150k-225k     13
225k+          2
Name: count, dtype: int64

In [27]:
df['Q3 - Current max salary (in USD)(k)'] = df['Q3 - Current Yearly Salary (in USD)'].str.split("-").str[-1]

df['Q3 - Current min salary (in USD)(k)'] = df['Q3 - Current Yearly Salary (in USD)'].str.split("-").str[0]

In [28]:
df['Q3 - Current max salary (in USD)(k)'] = df['Q3 - Current max salary (in USD)(k)'].apply(lambda x : x.replace("k","").replace("+","")).astype(int)

In [29]:
df['Q3 - Current min salary (in USD)(k)'] = df['Q3 - Current min salary (in USD)(k)'].apply(lambda x : x.replace("k","").replace("+","")).astype(int)

In [30]:
df['Q3 - Current Average salary (in USD)(k)'] =( df['Q3 - Current min salary (in USD)(k)']+df['Q3 - Current max salary (in USD)(k)'] )/2

In [31]:
# Converting the range in the form of strings to an average value of the e
df[['Q3 - Current Yearly Salary (in USD)','Q3 - Current Average salary (in USD)(k)']]

,Q3 - Current Yearly Salary (in USD),Q3 - Current Average salary (in USD)(k)
0,106k-125k,115.5
1,41k-65k,53.0
2,0-40k,20.0
3,150k-225k,187.5
4,41k-65k,53.0
...,...,...
625,125k-150k,137.5
626,0-40k,20.0
627,0-40k,20.0
628,0-40k,20.0
629,41k-65k,53.0

In [32]:
df.drop(inplace = True,columns = ['Q3 - Current Yearly Salary (in USD)','Q3 - Current max salary (in USD)(k)','Q3 - Current min salary (in USD)(k)'])
df.columns

Index(['Unique ID', 'Email', 'Date Taken (America/New_York)',
       'Time Taken (America/New_York)', 'Time Spent',
       'Q1 - Which Title Best Fits your Current Role?',
       'Q2 - Did you switch careers into Data?',
       'Q4 - What Industry do you work in?',
       'Q5 - Favorite Programming Language',
       'Q6 - How Happy are you in your Current Position with the following? (Salary)',
       'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)',
       'Q6 - How Happy are you in your Current Position with the following? (Coworkers)',
       'Q6 - How Happy are you in your Current Position with the following? (Management)',
       'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)',
       'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)',
       'Q7 - How difficult was it for you to break into Data?',
       'Q8 - If you were to look for a new job today, what would be the most important thing to you?',
       'Q9 - Male/Female?', 'Q10 - Current Age',
       'Q11 - Which Country do you live in?',
       'Q12 - Highest Level of Education', 'Q13 - Ethnicity',
       'Q3 - Current Average salary (in USD)(k)'],
      dtype='object')

In [33]:
# Lets clean this data  in 'Q11 - Which Country do you live in?'

In [34]:
df['Q11 - Which Country do you live in?'].value_counts()

Q11 - Which Country do you live in?
United States                       261
India                                73
United Kingdom                       40
Canada                               32
Other (Please Specify):Nigeria       18
                                   ...
Other (Please Specify):Ire            1
Other (Please Specify):Antigua        1
Other (Please Specify):Venezuela      1
Other (Please Specify):Brazik         1
Other (Please Specify):Oman           1
Name: count, Length: 98, dtype: int64

In [35]:
# done
df['Q11 - Which Country do you live in?'] = df['Q11 - Which Country do you live in?'].str.split(":").str[-1]

In [36]:
df['Q11 - Which Country do you live in?'].value_counts()

Q11 - Which Country do you live in?
United States     261
India              73
United Kingdom     40
Canada             32
Nigeria            18
                 ...
Ire                 1
Antigua             1
Venezuela           1
Brazik              1
Oman                1
Name: count, Length: 98, dtype: int64

In [37]:
df1 = df.copy()

In [38]:
# Other (Please Specify):Half black and half white                                         1
df['Q13 - Ethnicity'] = df['Q13 - Ethnicity'].str.split(":").str[-1]

In [39]:
df.columns

Index(['Unique ID', 'Email', 'Date Taken (America/New_York)',
       'Time Taken (America/New_York)', 'Time Spent',
       'Q1 - Which Title Best Fits your Current Role?',
       'Q2 - Did you switch careers into Data?',
       'Q4 - What Industry do you work in?',
       'Q5 - Favorite Programming Language',
       'Q6 - How Happy are you in your Current Position with the following? (Salary)',
       'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)',
       'Q6 - How Happy are you in your Current Position with the following? (Coworkers)',
       'Q6 - How Happy are you in your Current Position with the following? (Management)',
       'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)',
       'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)',
       'Q7 - How difficult was it for you to break into Data?',
       'Q8 - If you were to look for a new job today, what would be the most important thing to you?',
       'Q9 - Male/Female?', 'Q10 - Current Age',
       'Q11 - Which Country do you live in?',
       'Q12 - Highest Level of Education', 'Q13 - Ethnicity',
       'Q3 - Current Average salary (in USD)(k)'],
      dtype='object')

In [40]:
# Other (Please Specify):All of the options are important to me when looking for a new job                                                                                                        1
df['Q8 - If you were to look for a new job today, what would be the most important thing to you?'] = df['Q8 - If you were to look for a new job today, what would be the most important thing to you?'].str.split(":").str[-1]

In [41]:
df['Q8 - If you were to look for a new job today, what would be the most important thing to you?'].value_counts()

Q8 - If you were to look for a new job today, what would be the most important thing to you?
Better Salary                                                                                                                 297
Remote Work                                                                                                                   127
Good Work/Life Balance                                                                                                        117
Good Culture                                                                                                                   54
Challenging / exciting problems                                                                                                 1
Mix of better salary, good work/life balance, remote work and good culture                                                      1
Learning opportunity                                                                                                            1
Learning New Things                                                                                                             1
Salary and expo                                                                                                                 1
In office work                                                                                                                  1
Learning new skills                                                                                                             1
Data Maturity                                                                                                                   1
All of the above                                                                                                                1
Mentorship from leading Data Analyst                                                                                            1
Opportunity to learn                                                                                                            1
Better work & remote salary                                                                                                     1
The work                                                                                                                        1
Remote too                                                                                                                      1
Collaboration                                                                                                                   1
Better Tech Stack                                                                                                               1
Intresting work                                                                                                                 1
Good opportunities in projects and learnjng                                                                                     1
Projects I’m interested in                                                                                                      1
Different job title, either product owner or consulting                                                                         1
Responsibilities                                                                                                                1
Development                                                                                                                     1
Strong organizational data strategy, high-performing team                                                                       1
I would say a combination of good work/life balance with a better pay and the exposure to a workplace that supposed growth      1
Currently very happy with where I am.                                                                                           1
My passion is to become a Data analyst                                                                                          1
Opportunity for advancement                                                                                                     1
 being able to take decisions that steer the business.                                                                          1
Want to move from Australia to Canada, so position in desired country                                                           1
All of the options are important to me when looking for a new job                                                               1
Both Good work / life Balance and Good Culture                                                                                  1
an environment that encourages growth like where I work currently and better salary                                             1
Learning possibilities                                                                                                          1
Opportunities for growth                                                                                                        1
Career Advancedment                                                                                                             1
Name: count, dtype: int64

In [42]:
df1 = df.copy()
df['Q5 - Favorite Programming Language'] = df1['Q5 - Favorite Programming Language'].str.split(":").str[-1].str.strip().str.upper()

In [43]:
replace_low_frequency_items(df,'Q5 - Favorite Programming Language')

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Time Spent,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,Q6 - How Happy are you in your Current Position with the following? (Salary),...,Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity,Q3 - Current Average salary (in USD)(k)
0,62a33b3db4da29969c62df3d,anonymous,2022-06-10,8:38,0:00:44,Data analyst,Yes,Healthcare,PYTHON,9.0,...,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian,115.5
1,62a33ba1bae91e4b8b82e35c,anonymous,2022-06-10,8:40,0:01:30,Data analyst,No,Finance,R,1.0,...,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American,53.0
2,62a33c2cbc6861bf3176bec1,anonymous,2022-06-10,8:42,0:02:18,Data engineer,No,Clean Energy,PYTHON,0.0,...,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Nigeria,NaN,Black or African American,20.0
3,62a33c8624a26260273822f9,anonymous,2022-06-10,8:43,0:02:10,Analytics consultant,Yes,Finance,R,10.0,...,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian,187.5
4,62a33c91f3072dd892621e03,anonymous,2022-06-10,8:44,0:01:51,Data analyst,Yes,Healthcare,R,1.0,...,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American,53.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,62b525563f28f20328aeee5c,anonymous,2022-06-23,22:45,0:00:50,Data analyst,Yes,Retail,R,8.0,...,5.0,7.0,Easy,Better Salary,Male,26,United States,Bachelors,White or Caucasian,137.5
626,62b5a3e29bc428d5345f6e89,anonymous,2022-06-24,7:45,0:03:12,Data scientist intern,No,Manufacturing,R,4.0,...,4.0,6.0,Difficult,Better Salary,Male,21,United States,Bachelors,White or Caucasian,20.0
627,62b71083f31287f32e189026,anonymous,2022-06-25,9:41,0:04:43,Student/looking/none,Yes,Tech,PYTHON,1.0,...,1.0,2.0,Difficult,Better Salary,Male,26,Oman,Bachelors,Asian or Asian American,20.0
628,62b795033b026e423f287ecd,anonymous,2022-06-25,19:06,0:02:17,Data engineer,No,Tech,PYTHON,6.0,...,4.0,3.0,Easy,Career Advancedment,Male,24,Costa Rica,Bachelors,Hispanic or Latino,20.0
629,62b89039377223ff07b80fb5,anonymous,2022-06-26,12:58,0:01:19,Data analyst,No,Automotive,PYTHON,8.0,...,6.0,8.0,Easy,Remote Work,Male,22,United States,Bachelors,Asian or Asian American,53.0

In [44]:
df['Q5 - Favorite Programming Language'] = df['Q5 - Favorite Programming Language'].replace("OTHERSS","OTHERS")

In [45]:
df['Q5 - Favorite Programming Language'].value_counts()

Q5 - Favorite Programming Language
PYTHON                                                                                                                                                                                                                                             420
R                                                                                                                                                                                                                                                  101
SQL                                                                                                                                                                                                                                                 43
OTHER                                                                                                                                                                                                                                                9
C/C++                                                                                                                                                                                                                                                7
JAVASCRIPT                                                                                                                                                                                                                                           6
NONE                                                                                                                                                                                                                                                 6
DAX                                                                                                                                                                                                                                                  5
EXCEL                                                                                                                                                                                                                                                2
VBA                                                                                                                                                                                                                                                  2
SAS                                                                                                                                                                                                                                                  2
SAS SQL                                                                                                                                                                                                                                              1
I MEAN, I MOSTLY WORK IN SQL AND ITS VARIANTS?                                                                                                                                                                                                       1
JUST STARTED LEARNING                                                                                                                                                                                                                                1
NONE AT THE MOMENT                                                                                                                                                                                                                                   1
NA                                                                                                                                                                                                                                                   1
JAVA                                                                                                                                                                                                                                                 1
PHP                                                                                                                                                                                                                                                  1
MAINLY USE EXCEL                                                                                                                                                                                                                                     1
SQL BECAUSE THAT IS ALL I KNOW REALLY WELL SO FAR.                                                                                                                                                                                                   1
MATLAB                                                                                                                                                                                                                                               1
SQL &  PLSQL                                                                                                                                                                                                                                         1
C#                                                                                                                                                                                                                                                   1
STATA                                                                                                                                                                                                                                                1
ALTERY                                                                                                                                                                                                                                               1
I CURRENTLY DO NOT WORK WITH PROGRAMMING LANGUAGES YET                                                                                                                                                                                               1
SQL POSTGRES                                                                                                                                                                                                                                         1
UNKNOWN                                                                                                                                                                                                                                              1
EXCEL/SQL                                                                                                                                                                                                                                            1
I DON'T USE PROGRAMMING IN MY ROLE                                                                                                                                                                                                                   1
KNOWLEDGE OF EXCEL AND SQL YET                                                                                                                                                                                                                       1
DONT REQUIRE                                                                                                                                                                                                                                         1
I DON’T KNOW ANY                                                                                                                                                                                                                                     1
IF SQL IS CATEGORISED AS A PROGRAMMING LANGUAGE THEN I WILL DEFINITELY SAY SQL. SINCE I AM STILL LEARNING, I CAN'T GIVE A DEFINITE ANSWER IN RELATION TO THE ABOVER MENTIONED BUT FOR THE SAKE OF CHOOSING I WILL SAY R THEN FOLLOWED BY PYTHON      1
POWER BI                                                                                                                                                                                                                                             1
QLIK SENSE SCRIPT                                                                                                                                                                                                                                    1
MOSTLY USE SQL BUT THAT’S NOT PROGRAMMING LANGUAGE..                                                                                                                                                                                                 1
I DO ANALYSIS AND CREATE PRESENTATIONS BASED ON DATASETS PROVIDED BY OTHERS                                                                                                                                                                          1
Name: count, dtype: int64

In [46]:
df.to_excel("CLEANED_DataProfessionalSurvey.xlsx",sheet_name="Dataset")

### -----------------------------------------------------------------------------------------------------------

In [47]:
df['Q3 - Current Average salary (in USD)(k)']

0      115.5
1       53.0
2       20.0
3      187.5
4       53.0
       ...
625    137.5
626     20.0
627     20.0
628     20.0
629     53.0
Name: Q3 - Current Average salary (in USD)(k), Length: 630, dtype: float64

In [48]:
#  IQR = Q3 - Q1
# Outlier = Q1 - 1.5(IQR)
#  Outlier = Q3+1.5(IQR)
df.columns

Index(['Unique ID', 'Email', 'Date Taken (America/New_York)',
       'Time Taken (America/New_York)', 'Time Spent',
       'Q1 - Which Title Best Fits your Current Role?',
       'Q2 - Did you switch careers into Data?',
       'Q4 - What Industry do you work in?',
       'Q5 - Favorite Programming Language',
       'Q6 - How Happy are you in your Current Position with the following? (Salary)',
       'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)',
       'Q6 - How Happy are you in your Current Position with the following? (Coworkers)',
       'Q6 - How Happy are you in your Current Position with the following? (Management)',
       'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)',
       'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)',
       'Q7 - How difficult was it for you to break into Data?',
       'Q8 - If you were to look for a new job today, what would be the most important thing to you?',
       'Q9 - Male/Female?', 'Q10 - Current Age',
       'Q11 - Which Country do you live in?',
       'Q12 - Highest Level of Education', 'Q13 - Ethnicity',
       'Q3 - Current Average salary (in USD)(k)'],
      dtype='object')

In [49]:
data = df.groupby('Q1 - Which Title Best Fits your Current Role?')
data = data["Q3 - Current Average salary (in USD)(k)"].mean()

In [50]:
df = pd.DataFrame(data)

In [51]:
df.reset_index(inplace=True)
df.sort_values(by="Q3 - Current Average salary (in USD)(k)",ascending=False).head(81)

,Q1 - Which Title Best Fits your Current Role?,Q3 - Current Average salary (in USD)(k)
51,"Manager, business intelligence develop",187.5
32,Director,187.5
4,Analytics consultant,187.5
49,Manager,187.5
6,Analytics manager,162.5
...,...,...
35,Driver,20.0
37,Finance analyst,20.0
38,Financial analyst,20.0
47,Junior software engineer,20.0
80,Web developer,20.0

In [52]:
df["Q1 - Which Title Best Fits your Current Role?"].value_counts()

Q1 - Which Title Best Fits your Current Role?
Account manager                                                                          1
I work with data tools and can create simple dashboards but i am not a data scientist    1
Reporting adm                                                                            1
Product owner                                                                            1
Presales engineer                                                                        1
                                                                                        ..
Data scientist                                                                           1
Data manager                                                                             1
Data integrity                                                                           1
Data engineer                                                                            1
Web developer                                                                            1
Name: count, Length: 81, dtype: int64